{% extends 'ADMIN/common.html' %}
{% block content %}
  {% load static %}

  <!-- ============================================ -->
  <!-- <section> login Register ============================ -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 py-3">
          <div class="bg-holder bg-size" style="background-image:url({% static 'assets/img/gallery/people.png' %});background-position:top center;background-size:contain;"></div>
          <!-- /.bg-holder -->
          <h1 class="text-center">UPDATE CARETAKER DETAILS</h1>
        </div>
      </div>
    </div>
    <!-- end of .container -->
  </section>

  <section class="py-8">
    <div class="container">
      <div class="row">
        <div class="bg-holder bg-size" style="background-image:url({% static 'assets/img/gallery/dot-bg.png' %});background-position:bottom right;background-size:auto;"></div>

        <div class="col-lg-6 z-index-2 mb-5">
          <img class="w-100" src="{% static 'assets/img/gallery/appointment.png' %}" alt="..." />
        </div>
        {% for i in data %}
          <div class="col-lg-6 z-index-2">
     
            <form class="row g-3" method="post" enctype="multipart/form-data">
              {% csrf_token %}
             
              <div class="col-md-6">
                <label class="visually-hidden" for="inputName">Name</label><input class="form-control form-livedoc-control" id="inputName" type="text" placeholder="Name" value="{{ i.name }}" name="name" required />
              </div>

              <div class="col-md-6">
                <label class="form-label visually-hidden" for="inputEmail">Image</label><input class="form-control form-livedoc-control" id="inputEmail" type="file" placeholder="Image" name="image" />
              </div>

              {% comment %} <div class="col-md-6">
                <label class="form-label visually-hidden" for="inputEmail">Email</label><input class="form-control form-livedoc-control" id="inputEmail" type="email" placeholder="Email" value="{{ i.email }}" name="email" required />
              </div> {% endcomment %}

              <div class="col-md-6">
                <label class="visually-hidden" for="inputPhone">Emergency Contact</label><input class="form-control form-livedoc-control" id="inputPhone" type="text" maxlength="10" minlength="10" value="{{ i.phone }}" placeholder="Emergency Contact" name="phone" required />
              </div>

              <div class="col-md-12">
                <label class="form-label visually-hidden" for="validationTextarea">Address</label><textarea class="form-control form-livedoc-control" id="validationTextarea" placeholder="Address" style="height: 250px;" required="required" name="address">{{ i.address }}</textarea>
              </div>

              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-success rounded-pill" type="submit">UPDATE</button>
                </div>
              </div>

            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
